* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- */
/* fonts */
/* ----- */
@font-face {
  font-family: Oswald;
  src: url(./fonts/Oswald-VariableFont_wght.ttf) format("woff2-variations");
  font-weight: 200 700;
  font-stretch: 100%;
  font-style: normal;
}

html {
  font-size: 100%;
} /*16px*/

/* --------- */
/* Variables */
/* --------- */
:root {
  /* colors */
  --grey-300: #9fb3c8;
  --grey-200: #bcccdc;
  --black: #222;
  --white: #fff;
  --darkBlue: #221333;
  --lighterBlue: #29193c;
  --reddish: #df3311;

  /* fonts  */
  --headingFont: "Oswald", San-Serifs;
  --bodyFont: Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* Applies colors */
  --backgroundColor: var(--darkBlue);
  --textColor: var(--darkBlue);

  /* rest of the vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
}

body {
  font-family: var(--headingFont);
  background: var(--backgroundColor);
  font-size: 14px;
  color: var(--white);
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul,
li {
  list-style: none;
}

/* ---------------------------- */
/* Hamburger Menu Functionality */
/* ---------------------------- */
.navigation {
  height: 60px;
  transition: all 0.2s ease;
}
.open-nav {
  height: auto;
  transition: all 0.2s ease;
}
.hamburger-close {
  opacity: 0;
}
.open-nav .hamburger-open {
  opacity: 0;
}
.open-nav .hamburger-close {
  opacity: 1;
}

/* ---------------------------- */
/* Form */
/* ---------------------------- */
.login-form {
  width: 100%;
  background-color: #df3311;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  overflow: hidden;
}
.form-row {
  width: 100%;
}
.form-input {
  width: 100%;
  outline: none;
  padding: 1rem 1.5rem 1rem 1rem;
  border: none;
  border-width: 3px;
  border-color: var(--darkBlue);
  border-style: solid;
  margin: 10px 0 25px 0;
  font-family: sans-serif;
  color: var(--darkBlue);
}
.form-input::placeholder {
  font-family: sans-serif;
  font-size: 14px;
  color: var(--grey-200);
}
.form-label {
  color: var(--darkBlue);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  padding-left: 2px;
}
.toggleForm {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 20px 0 10px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: var(--darkBlue);
}
.toggleForm-btn {
  background: transparent;
  outline: none;
  border: none;
  color: var(--darkBlue);
  text-transform: capitalize;
  margin-left: 5px;
  cursor: pointer;

  transition: all 0.2s ease;
}
.toggleForm-btn:hover {
  color: var(--white);
}
/* ---------------------------- */
/* Message */
/* ---------------------------- */
.message {
  width: 100%;
  padding: 15px 22px;
  margin-bottom: 35px;
  border-radius: 3px;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}
.message-error {
  border: 2px solid #df331183;
  color: #fe2a00;
  background-color: #df331136;
}
.message-success {
  border: 2px solid rgba(0, 209, 0, 0.468);
  color: var(--white);
  background-color: rgba(0, 209, 0, 0.369);
}
