* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- */
/* fonts */
/* ----- */
@font-face {
  font-family: Oswald;
  src: url(./fonts/Oswald-VariableFont_wght.ttf) format("woff2-variations");
  font-weight: 200 700;
  font-stretch: 100%;
  font-style: normal;
}

html {
  font-size: 100%;
} /*16px*/

/* --------- */
/* Variables */
/* --------- */
:root {
  /* colors */
  --grey-300: #9fb3c8;
  --grey-200: #bcccdc;
  --grey-100: #f2f6f9;
  --black: #222;
  --white: #fff;
  --white-transparent: #ffffff52;
  --blue: #6f489b;
  --darkBlue: #221333;
  --lighterBlue: #4e3172;
  --reddish: #df3311;
  --background: #2222225f;

  /* message */
  --error-bg: #eec8c5;
  --error-border: #cb9d9f;
  --error-text: #a03534;

  --success-bg: #dcf3d7;
  --success-border: #cadac2;
  --success-text: #586e50;

  --icon-bg: #22222225;

  /* fonts  */
  --headingFont: "Oswald", San-Serifs;
  --bodyFont: Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* Applies colors */
  --backgroundColor: var(--darkBlue);
  --textColor: var(--darkBlue);

  /* rest of the vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
}

body {
  font-family: var(--headingFont);
  font-size: 14px;
  color: var(--white);
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul,
li {
  list-style: none;
}

/* ---------------------------- */
/* Hamburger Menu Functionality */
/* ---------------------------- */
.navigation {
  height: 60px;
  transition: all 0.2s ease;
}
.open-nav {
  height: auto;
  transition: all 0.2s ease;
}
.hamburger-close {
  opacity: 0;
}
.open-nav .hamburger-open {
  opacity: 0;
}
.open-nav .hamburger-close {
  opacity: 1;
}

/* ---------------------------- */
/* Form */
/* ---------------------------- */
.login-form {
  width: 100%;
  background-color: #df3311;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  overflow: hidden;
}
.form-row {
  width: 100%;
}
.form-input {
  width: 100%;
  height: 3.6em;
  outline: none;
  padding: 1rem 1.5rem 1rem 1rem;
  border: none;
  border-width: 3px;
  border-color: var(--darkBlue);
  border-style: solid;
  margin: 10px 0 25px 0;
  font-family: sans-serif;
  color: var(--darkBlue);
}
.form-input::placeholder,
textarea::placeholder {
  font-family: sans-serif;
  font-size: 14px;
  color: var(--grey-200);
}
textarea {
  resize: vertical;
}
.form-label {
  color: var(--darkBlue);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  padding-left: 2px;
}
.toggleForm {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 20px 0 10px 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: var(--darkBlue);
}
.toggleForm-btn {
  background: transparent;
  outline: none;
  border: none;
  color: var(--darkBlue);
  text-transform: capitalize;
  margin-left: 5px;
  cursor: pointer;

  transition: all 0.2s ease;
}
.toggleForm-btn:hover {
  color: var(--white);
}
/* ---------------------------- */
/* Message */
/* ---------------------------- */
.message {
  width: 100%;
  padding: 0.6em 2em;
  margin-bottom: 2.2em;
  border-radius: 3px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.message-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: var(--icon-bg);
  border-radius: 50%;
  padding: 0.1em;
}
.message-error {
  border: 2px solid var(--error-border);
  color: var(--error-text);
  background-color: var(--error-bg);
}
.message-success {
  border: 2px solid var(--success-border);
  color: var(--success-text);
  background-color: var(--success-bg);
}
